@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}
@layer base{
  button{
    @apply cursor-pointer
  }
  input::placeholder{
    @apply text-gray-400
  }
}


/* Start CSS  for Testimonial Section */
 @keyframes marqueeScroll {
      0% { transform: translateX(0%); }
      100% { transform: translateX(-50%); }
  }

  .marquee-inner {
      animation: marqueeScroll 25s linear infinite;
  }

  .marquee-reverse {
      animation-direction: reverse;
  }
/* End CSS  for Testimonial Section */
